


<div class="jumbotron">
	<h4><%= @project.title %></h4>
	<p><%= @project.description %></p>
	<% if @pm.present? %>
	<p>Project Manager: <strong> <%= @pm.name  %> </strong><br>
	    Email: <%= @pm.email  %></p>
	    <% end %>
</div>

<div>
	
	<h3> Team: </h3>
	<h5>Developer And QAs</h5>
	<ol>
		<% @team.each do |member|  %>
			<li><%= member.name  %>  (<%= member.role%>) <br>
				email: <%= member.email%></li>
		<% end %>
	</ul>
	

</div>